* {
    text-align: center;
}

.textToSpeech button {
    margin: 0% 45% 0% 45%;
    display: flex;
    font-family: inherit;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: rgb(8, 0, 0);
    background: #0b1de3;
    background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.textToSpeech button:hover {
    box-shadow: 0 0.5em 1.5em -1.5em #03f30398;
}

/* .textToSpeech button:active {
  box-shadow: 0 0.3em 1em -0.5em #ddf4e498;
} */ 